.progress-container {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 6px;
    background: white;
    border-radius: 3px;
    overflow: hidden;
}

.progress-fill-right {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    background: black;
    transform: scaleX(1.05);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: width 0.5s ease;
}

.progress-fill-left {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    background: black;
    transform: translateX(-100%) scaleX(1.05);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: width 0.5s ease;
}